<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function cancel(){
            if(confirm("수정을 취소하시겠습니까?")){
                location.href="{% url 'students:reglist' %}";
            }
        }
    </script>
</head>
<body>
    <h2>학생수정페이지</h2>
    <form action="{% url 'students:regmodifyCon' %}" method="post">
        {% csrf_token %} 
        <label>학생이름 : {{stu.s_name}}</label><br>
        <input type="hidden" name="name" value={{stu.s_name}}><br>
        {% comment %} <input type="text" name="name" value={{stu.s_name}}><br> {% endcomment %}
        <label>학과</label>
        <input type="text" name="major" value={{stu.s_major}}><br>
        <label>나이</label>
        <input type="text" name="age" value={{stu.s_age}}><br>
        <label>학년</label>
        <input type="text" name="grade" value={{stu.s_grade}}><br>
        <label>성별</label>
        <input type="text" name="gender" value={{stu.s_gender}}><br>
        <input type="submit" value="저장">
        <input type="button" onclick="cancel()" value="취소">
    </form>
    
</body>
</html>