<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,th,td{border:1px solid black; 
            border-collapse:collapse;
        text-align: center;}
        table{width:550px; }
        th{width:200px;}
    </style>
    <script>
        function deleteBtn(){
            alert("삭제 호출");
            if (confirm("학생정보를 삭제하시겠습니까?")){
                location.href="{% url 'students:regdelete' stu.s_name  %}"
            }
        }
    </script>
</head>
<body>
    <h2>학생상세페이지</h2>
    <table>
        {% if stu %}
        <tr>
            <th>학생이름</th>
            <td>{{stu.s_name}}</td>
        </tr>
        <tr>
            <th>학과</th>
            <td>{{stu.s_major}}</td>
        </tr>
        <tr>
            <th>나이</th>
            <td>{{stu.s_age}}</td>
        </tr>
        <tr>
            <th>학년</th>
            <td>{{stu.s_grade}}</td>
        </tr>
        <tr>
            <th>성별</th>
            <td>{{stu.s_gender}}</td>
        </tr>
        {% endif %}
    </table>
    <br>
    <button><a href="{% url 'students:regmodify' stu.s_name %}">수정</a></button>
    {% comment %} <button><a href="{% url 'students:regdelete' stu.s_name %}">삭제</a></button> {% endcomment %}
    <button onclick="deleteBtn()">삭제</button>
    <button><a href="{% url 'students:reglist' %}">학생목록</a></button>
    
</body>
</html>